.country-list-container {
  background-color: #ccc;
  padding: 5vh 15vw;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #1a4b12;
  color: #b7ffaa;
}

td, th {
  text-align: center;
  padding: 8px;
}

tr {
  line-height: 37px;
}

tr:nth-child(even) {
  background-color: #4cd137;
}

tr:nth-child(odd) {
  background-color: #45b533
}