.header-container {
  display: flex;
  height: 4.1em;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
  background-color: #4cd137;
  border-bottom: 4px solid #1a4b12;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: first baseline;
}

.logo > img {
  min-height: 4vw;
  width: 4vw;
  margin-right: 9px;
}

.logo > h3 {
  font-size: 2.8vw;
}

.search-bar > input {
  border: 2px solid #4b9e96;
  width: 35vw;
  height: 2rem;
  font-size: 1.7vw;
  padding-left: 9px;
}

.search-bar > input::placeholder {
  color: rgb(45, 50, 54);
  font-size: 1.7vw;
  font-style: italic;
}

.search-bar > input:hover, .search-bar > input:focus {
  border: 2px solid #457a7a;
  background-color: white;
}

.map-link > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.7vw;
  font-weight: bold;
  text-transform: capitalize;
}