.showcase-container {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  background-image: url("/images/coronavirus-bg.jpg");
  background-size: cover;
  padding-top: 40px;
  padding-left: 15vw;
  padding-right: 15vw;
  text-transform: capitalize;
  font-size: 1.8vw;
  font-weight: bold;
}

.country-flag {
  height: 20vh;
  width: 12vw;
}

.country-flag > img {
  height: 100%;
  width: 100%;
}

.country-name {
  text-align: center;
}

.confirmed-cases, .recovered-cases, .death-cases {
  height: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-name-flag {
  color: rgb(183, 255, 170);
}

.confirmed-cases {
  color: rgb(249, 251, 72);
}

.recovered-cases {
  color: rgb(120, 253, 120);
  
}

.death-cases {
  color: rgb(253, 80, 80);
}

